@page
@model BigMamma_InGroup.Pages.Menu.BasketModel
@{
    @section Scripts {
        <script>src = "https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js" ></script>

        <script>
            $(document).ready(function () {
                let msg = $('#StatusMessage').val();
                if (msg.length > 0) {
                    swal.fire(msg);
                }
            }
        </script>
        }
    <h1>These items are in your basket 	(◕‿◕)</h1>

    <table class="table-hover" onload="print()">
        <thead>
            <tr>

                <th> Name </th>
                <th> Price </th>

            </tr>
        </thead>
        <tbody>
            @foreach (model.Pizza p in Model.PizzaList)
            {
                <tr>

                    <td>@p.Name</td>
                    <td>
                        @{
                            double d = @p.Price * 0.95;
                        }@d DKK
                    </td>








                </tr>
            }
            <tr>
                <td>The total cost of your order is: @Model.Cost DKK</td>
            </tr>
        </tbody>
    </table>

    <form method="post">
        <div class="form-group">
            <input type="submit" value="Order" asp-page-handler="Order" class="btn btn-success" />
            
            <input type="submit" value="Cancel" asp-page-handler="Cancel" class="btn btn-danger" />
            <div class="d-none">
                <input asp-for="StatusMessage" />
                
            </div>
        </div>
    </form>


}
