@page
@using BigMamma_InGroup.model; 
@using BigMamma_InGroup.Pages;
@model BigMamma_InGroup.Pages.Menu.DisplayPizzaModel
@{
    <h1 class=""> Vis alle pizzaer </h1>
    <script>

        
        function print(){
            var x = document.getElementById("myAudio"); 
            x.play(); 
        }
            
    </script>
    <audio id="myAudio">
        <source src="https://www.myinstants.com/media/sounds/yeet-sound-effect.mp3"> 
    </audio>
    <table class="table-hover" onclick="print()">
                    <thead>
                        <tr>
                            <th>Number/ID </th>
                            <th> Name </th>
                            <th> Price </th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (Pizza p in Model.PizzaList)
            {           
                            <tr>
                                <td>@{int i = 1 + @Model.PizzaList.IndexOf(p);}@i</td>
                                <td>@p.Name </td>
                                <td>@p.Price </td>
                                
                            </tr>

            }
                    </tbody>

    </table>
    
}
