@page
@model BigMamma_InGroup.Pages.Menu.EditPizzaModel
@{
}

<h1> Add new pizza </h1>

<form method="post">
    <div class="form-group">
        <label>Pizza Name</label><br />
        <input class="form-control" asp-for="@Model.NewName" /><br />
        <label>Pizza Price</label><br />
        <input class="form-control" asp-for="@Model.NewPrice" /><br />
        <span asp-validation-for="@Model.NewPrice" class="text-danger"></span>
        <br />

        <input type="submit" value="Change Pizza" class="btn btn-outline-success"/>
    </div>
</form>
