@page
@model BigMamma_InGroup.Pages.Menu.EditDrinksModel
@{
}
<h1> Edit Drinks </h1>

<form method="post">
    <div class="form-group">
        <label>Drink name</label><br />
        <input class="form-control" asp-for="@Model.NewName" /><br />
        <label>Drink Price</label><br />
        <input class="form-control" asp-for="@Model.NewPrice" /><br />
        <span asp-validation-for="@Model.NewPrice" class="text-danger"></span>
        <br />

        <input type="submit" value="Change Drink" class="btn btn-outline-success"/>
    </div>
</form>