@page
@model BigMamma_InGroup.Pages.Menu.SeeYouNextTimeModel
@{
    <h1> Thanks for your order! <br />You have @Model.Balance.ToString() DKK left on your account. </h1>
    <img src="https://i.pinimg.com/originals/a4/33/9a/a4339a90c2f691b44aca4ddec3f69aa2.png" style="width:400px; height:auto;"/>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/X11.svg/640px-X11.svg.png" style="width:400px; height:auto; margin-top:0px"/>
    <img src="https://usercontent.one/wp/www.big-mamma.dk/wp-content/uploads/2023/08/Logo-med-hvid-baggrund.png" style="width:400px; height:auto;" />
}
