@page
@model IndexModel
@{
    ViewData["Title"] = "Big Mamma In Group";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Log in here 
    <a asp-page="Login/Login">Login here</a>
</div>
